<!DOCTYPE HTML>

<html>
	<head>
		<title>Oracle Apps</title>
		<meta charset="utf-8" />
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>

		<!-- Nav -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="index"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/index">Home</a>
		      </li>
          <li class="nav-item">
            <a class="nav-link active" href="/oracleApp">Oracle Apps <span class="sr-only">(current)</span></a>
          </li>
					<li class="nav-item">
        		<a class="nav-link" href="/about">About</a>
      		</li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>

		<!-- Banner -->
			<section id="banner2">
				<div class="inner">
					<h1>Oracle EBS (R12) on Cloud (OCI) Beginners</h1>
					<h3>15 Things Apps DBAs Must Know</h3>
				</div>
			</section>

			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
                {%for item in cloud_db%}
                  {% if item.id == 1 %}
                <h5>1: {{ item.description }}</h5>
  							</header>
  							<ul class="actions" >
  								<li>{{ item.fact1 }}</li>
  								<li>{{ item.fact2 }}</li>
  								<li>{{ item.fact3 }}</li>
                    {%elif item.id == 2%}

                    {%else%}
                    {%endif%}
  							</ul>
                {%endfor%}
						</div>
            <div>
							<header>
                {%for item in cloud_db%}
                  {% if item.id == 3 %}
                <h5>2: {{ item.description }}</h5>
  							</header>
  							<ul class="actions" >
  								<li>{{ item.fact1 }}</li>
  								<li>{{ item.fact2 }}</li>
                    {%elif item.id == 2%}
                    {%else%}
                    {%endif%}
  							</ul>
                {%endfor%}
						</div>
            <div>
              <header>
                {%for item in cloud_db%}
                  {% if item.id == 5 %}
                <h5>3: {{ item.description }}</h5>
                </header>
                <ul class="actions" >
                  <li>{{ item.fact1 }}</li>
                  <li>{{ item.fact2 }}</li>
                  <li>{{ item.fact3 }}</li>
                    {%elif item.id == 2%}
                    {%else%}
                    {%endif%}
                </ul>
                {%endfor%}
            </div>
					</div>
				</div>
			</section>


			<section id="four" class="wrapper style3">
				<div class="inner">
          <div>
            <a class="btn btn-outline-danger" href="/test">Click To Test The Database</a>



          </div>
          <p>The test above inserts data into the database and then queries for it. If found then it will confirm that the insertion had taken place. Lastly, it removes the data from the database.</p>

					<header class="align-center">
						<h2>Disclaimer</h2>
						<p>The contents and images of this page does not belong to me [Logan Hashmi]. I have attached my resources with links and references in the about page.</p>
					</header>
				</div>
			</section>
	</body>
</html>
